* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; /* Añadido por si el navegador añade algún margen */
  }
  
  .formulario {
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    max-width: 350px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .formulario h1 {
    margin-bottom: 30px;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
  }
  
  .formulario label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #666;
  }
  
  .formulario input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    outline: none; /* Añadido para quitar el borde por defecto */
  }
  
  .formulario input:focus {
    border-color: #337ab7; /* Añadido para un mejor enfoque visual */
  }
  
  button {
    width: 100%;
    padding: 15px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
  }
  
  button:hover {
    background-color: #23527c;
    transition: background-color 0.3s ease; /* Transición suave para el hover */
  }
  